## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(100)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Nikolskoye,RU,75.79,clear sky,59.7035,30.7861,Tourist House - Sablino
1,14,Lardos,GR,77.95,clear sky,36.0942,28.0157,Lindos Princess Beach Hotel
2,18,Cabedelo,BR,84.87,scattered clouds,-6.9811,-34.8339,Hotel Pigalle
3,21,Atuona,PF,79.41,scattered clouds,-9.8000,-139.0333,Villa Enata
4,22,Ambon,ID,80.11,overcast clouds,-3.6954,128.1814,Swiss-Belhotel Ambon
...,...,...,...,...,...,...,...,...
95,259,Codajas,BR,86.86,overcast clouds,-3.8367,-62.0569,Hotel Tamires
96,261,Vila Velha,BR,81.97,scattered clouds,-20.3297,-40.2925,Quality Suites Vila Velha
97,263,Faya,SA,78.91,scattered clouds,18.3851,42.4509,مقبرة ال مجمل
98,264,Galle,LK,80.24,overcast clouds,6.0367,80.2170,Amangalla
99,265,Waingapu,ID,76.51,scattered clouds,-9.6567,120.2641,Pondok Wisata Elim

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Codajas"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Codajas"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Cabedelo"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Vila Velha"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Touros"]

In [6]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
200,540,Touros,BR,86.9,broken clouds,-5.1989,-35.4608,INN NEW HORIZON

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_route = gmaps.directions_layer(
        start,end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,259,Codajas,BR,86.86,overcast clouds,-3.8367,-62.0569,Hotel Tamires
1,259,Codajas,BR,86.86,overcast clouds,-3.8367,-62.0569,Hotel Tamires
2,18,Cabedelo,BR,84.87,scattered clouds,-6.9811,-34.8339,Hotel Pigalle
3,261,Vila Velha,BR,81.97,scattered clouds,-20.3297,-40.2925,Quality Suites Vila Velha
4,540,Touros,BR,86.90,broken clouds,-5.1989,-35.4608,INN NEW HORIZON

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig2.add_layer(marker_layer)

# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))